        :root{
            --pr-color : #FFFFFF
        }

        body {
            font-family: 'Montserrat', sans-serif;
            font-family: 'Roboto', sans-serif;
            background-color: #007F9B;
            height: auto;
        }

/* Navbar Style */
        nav.navbar .container {
            display: flex;
            flex-direction: row; /* or column, or other values */
            justify-content: space-between;
            align-items: center;
        }

        .navbar {
            z-index: 3;
            background-image: linear-gradient(to right, #327D95, #16628C);
        }

        * {
            z-index: 2;
        }

        .nav-link.active {
            font-weight: 300;
            
        }

        .button-primary {
            width: 62px;
            height: 38px;
            background-color: #3595AA;
            color: var(--pr-color);
            font-size: 13px;
            font-weight: 300;
            border: none;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
        }

/* Hero Section */
        .hero {
            padding-top: 100px;
            height: 100vh;
        }

        section.hero .content {
            margin-top: 150px;
        }

        .img-hero {
            margin-left: 70px;
            
        }

        .img {
        filter: drop-shadow(5px 5px 5px black);
        -webkit-filter: drop-shadow(5px 5px 5px black);
}

        .button {
            font-size: 18px;
            padding: 10px 20px;
            cursor: pointer;
            margin-right: 10px;
        }
    
        .left-button {
            width: 237px;
            height: 46px;
            background-color: #93B1DE;
            color: #241C1C;
            font-size: 18px;
            border: none;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
        }
    
        .right-button {
            width: 237px;
            height: 46px;
            background-color: #241C1C;
            color: #F6F6F6;
            font-size: 18px;
            border: none;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
        }

        .welcome-container h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 64px;
            font-weight: bold;
            color: white;
        }
        
        .welcome-container h1 .regular {
            font-family: 'Montserrat', sans-serif;
            font-size: 64px;
            color: white;
            font-weight: normal;
        }
        
        .welcome-container .DBO-content {
            font-family: 'Montserrat', sans-serif;
            font-size: 55px;
            font-weight: bold;
            color: white;
        }
        
/* Search Section */
        .search {
            height: 300px;
            background-color: #07728a;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .maintext {
            margin-bottom: 20px;
        }

        .searchbar {
            width: 800px;
        }

        .btnsearch {
            width: 150px;
            background-color: #1E5391;
        }

        .form-control::placeholder {
            color: rgba(0, 0, 0, 0.2);
            opacity: 1;
        }




        
/* viewboard section */

        section.colections .content {
            height: 340px;
            background-color: white;
        }

        section.colections .content2 {
          width: 600px;
          height: 300px;
          margin-top: 10px;
          background-color: #CDD1FB;
        }

        section.colections .main {
           margin-top: 10px;
         padding-left: 70px;
          }

          section.colections .main2 {
            margin-top: 10px;
         
           }
  

       


       

        /* .first-section {
            background-color: #EEEFFD;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        } */

        .table-spacing th,
        .table-spacing td {
        padding: 10px 30px;
        }

        section.colections .kotak1 {
            width: 210px;
            height: 120px;
            background-color: #08C983;
        }

        section.colections .kotak2 {
            width: 210px;
            height: 120px;
            background-color: #FF7C60;
        }

        section.colections .kotak3 {
            width: 210px;
            height: 120px;
            background-color: #BB42F4;
        }

        section.colections .kotak4 {
            width: 210px;
            height: 120px;
            background-color: #FFCD4B;
        }

        section.colections .kotak {
            margin: 14px;
        }

        /* section.colections .content2 {
            margin: auto;
        } */

        
        
        /* .main-kotak {
            background-color: #CDD1FB;
            margin-right: 30px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .kotak-1 {
            background-color: #08C983;
            border-radius: 10px;
            
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .kotak-2 {
            background-color: #BB42F4;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .kotak-3 {
            background-color: #FF7C60;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .kotak-4 {
            background-color: #FFCD4B;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        } */

        

/* About Us Section */
        .section-about-us {
            background-color: #07728a;
        }

        .tittle-about-us {
            width: 100%;
        }

        .tittle-about-us .main-tittle {
            font-size: 48px;
        }

        .tittle-about-us .sub-tittle {
            font-size: 22px;
        }

        .main-content-about-us {
            height: 550px;
        }

        .img-about-us {
            filter: drop-shadow(2px 2px 2px black);
            -webkit-filter: drop-shadow(2px 2px 2px black);
}

        .dbo-logo-about-us {
            width: 150px;
        }

        .definition-dbo {
            font-size: 22px;
            text-align: justify;
        }

/* Contact Us Section */
        .custom-email-link {
            text-decoration: none;
            color: white;
        }
        
        .first-gmail-logo {
            width: 35px;
            position: relative;
            padding-right: 10px;
        }

        .second-gmail-logo {
            width: 35px;
            position: relative;
            padding-right: 10px;
        }

        .first-email {
            padding-left: 525px;
        }

        .second-email {
            padding-left: 525px;
        }

        .img-contact-us {
            filter: drop-shadow(2px 2px 2px black);
            -webkit-filter: drop-shadow(2px 2px 2px black);
        }

        .main-img-contact-us {
            width: 750px;
            padding-right: 100px;
        }

/* Related Links Section */
        .section-related-links {
            height: 700px;
            background-color: #07728a;
        }

        .tittle-related-links {
            text-align: center;
            width: 100%;
        }

        .section-related-links .main-tittle {
            font-size: 48px;
        }

        .section-related-links .sub-tittle {
            font-size: 22px;
        }

/* Footer */
        .footer {
            height: 100%;
            background-image: linear-gradient(to right, #327D95, #16628C);
        }

        .main-content-footer {
            text-align: center;
            padding-top: 150px;
            height: 300px;
            opacity: 50%;
        }


        @media only screen and (max-width: 600px) {
            .welcome-container h1 {
                color: #FFFFFF;
                font-weight: bold;
                font-size: 30px;
            }
            .hero {
                padding-top: 5px;
            }

            .content {
                margin-top: 5px;
                text-align: center;
            }
            .img-hero {
                margin-left: 10px;
            }
        }